//http://www.sitepoint.com/fonts-colors-used-facebook-twitter-google/
@facebookBlue: #3b5998;
@personaBlue: #00438f;
@baseBodyColor: #222;
@symbolColor: black;
@yellowFoursquare : #fbfcee;
@blueFoursquare : #a5c4d2;

body {
  color : @baseBodyColor;
}

#loginbuttons {
  padding-left: 0;
  list-style : none;

  li {
    padding-top: 10px;
  }
  a {
    width: 135px;
  }
}

#loginFacebook {
  background : @facebookBlue;
  span {
    display      : inline-block;
    width        : 16px;
    font-size    : 18px;
    color        : @facebookBlue;
    background   : white;
    font-weight  : 500;
    margin-right : 5px;
  }
}

#loginPersona {
  background : @personaBlue;
  img {
    height       : 36px;
    margin       : -10px; //much padding in the picture
    margin-right : 5px;
  }
}

// not used yet - will be used on wishlist when not logged in
.blur {
  filter : blur(5px) grayscale(50%);
}

// header
#header {
  .info {
    float   : right;
    margin  : 10px 0px;
    padding : 6px 12px;
  }

  .navbar-header {
    float : left;
  }

  #logoutButton {
    float  : right;
    margin : 10px 15px;
  }

  .username {
    display : block;
    float   : left;
  }
}

#accordion {
  padding    : 0 20px;
  //  max-width : 800px;
  list-style : none;
}

// description part
.wish {

  .wish-completed {
    background-color : #eee;
  }

  .panel-heading a {
    text-decoration : none;
  }

  .product-img {
    float  : left;
    margin : 6px 25px 0px 0px;
    width  : 200px;
  }

  .action-info {
    overflow : hidden;
  }

  .info-box {
    ul, p {
      margin-bottom : 10px;
    }
  }

  // no change in height when clicking away alerts
  .alerts {
    //    height        : 52px;
  }

  .items-bought {
    font-size: 21px;
    float   : left;
    padding: 0 20px 10px 0;

    .text {
      display : inline-block;
      float   : left;
    }

    .count {
      position: relative;
      left: 5px;
      top: -5px;
      width     : 62px;
      font-size : 21px;
      height    : 42px;
    }
  }

  .action-panel {
    padding : 10px 0;

    button {
      float : left;

//      &.regret { clear: both; }
    }
  }
}

@media only screen
and (max-width : 600px) {
  .wish .product-img {
    float : none;
  }
}

@media only screen
and (max-width : 400px) {
  .wish .panel-title-price {
    display : none;
  }
}

@media only screen
and (min-width : 400px) {
  .panel-title-price {
    display : inline-block;
    float   : right;
  }
}

#loader {
  position            : absolute;
  width               : 100%;
  top                 : 0;
  bottom              : 0;
  background          : fade(@blueFoursquare, 20%);
  text-align          : center;
  background-image    : url('/images/ajax-loader.gif');
  background-position : center center;
  background-repeat   : no-repeat;
}
