<template name="login">
    <!-- This login should becomome a modal box -->
    <div class="jumbotron">
        <h1>Hallo, kjære gjest!</h1>

        <p>
            For å få se ønskelisten trenger vi å vite hvem du
            er. Har du Facebook kan du logge inn med det, og
            for alle andre er det bare å trykke på Persona-lenken
        </p>

        <p>Lykke til :)</p>

        <p>
            <a id="loginFacebook"
               class="btn btn-primary btn-lg"
               role="button"><span>f</span>Facebook</a>
            <a id="loginPersona"
               class="btn btn-primary btn-lg"
               role="button">
                <img src="/images/persona.png"/>Persona
            </a>
        </p>
    </div>
</template>