<template name="login">
    {{! This login should becomome a modal box }}
    <div class="jumbotron">
        <p>
            Du må dessverre kjapt registrere deg for å få sett
            ønskelisten, men det er over på et øyeblikk. Har du
            Facebook anbefaler vi å logge inn med din id der,
            ettersom det går raskest, men ellers er prosessen
            vanligvis over på minuttet. Hold ut :)
        </p>

        <ul id="loginbuttons">
           <li><a id="loginFacebook"
                  class="btn btn-primary btn-lg"
                  role="button"><span>f</span>Facebook</a>
               Har du Facebook? Da kommer du kjappest inn her.
           </li>
            <li>
                <a id="loginPersona"
                   class="btn btn-primary btn-lg"
                   role="button">
                    <img src="/images/persona.png"/>Persona
                </a>
                Innlogging for alle andre

            </li>
        </ul>
    </div>

</template>