<template name="login">
    {{! This login should becomome a modal box }}
    <div class="jumbotron">
        <h1>Hallo, kjære gjest!</h1>

        <p>
            "Hva er dette?", spør du deg kanskje. Det denne
            lille siden skal være er en garanti for at ingen kjøper
            samme ting!

            {{!-- Den skal holde rede på hva som er kjøpt av
            andre og gi en god oversikt over brudeparets ønskeliste.
            }}
        </p>
        <p>
            Selvsagt er det lov å gi ting som ikke står på ønskelisten!
            Men vet du ikke hva du skal gi og lurer på hva brudeparet
            ønsker seg står det her :-)
        </p>

        <p>
            {{!--
            For at det skal være mulig å skille mellom brukerne
            av ønskelisten trenger appen å vite hvem du er.  --}}

            Har du Facebook kan du logge inn ved å trykke på knappen under, og
            for alle andre er det bare å trykke på Persona-lenken.

            Det hele er over på under minuttet, men det kan være du må innom
            epostinnboksen din og bekrefte registreringen.
        </p>

        <p>
            <a id="loginFacebook"
               class="btn btn-primary btn-lg"
               role="button"><span>f</span>Facebook</a>
            <a id="loginPersona"
               class="btn btn-primary btn-lg"
               role="button">
                <img src="/images/persona.png"/>Persona
            </a>
        </p>
    </div>

</template>