<template name="wish">

    <li class="wish panel panel-default">

        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{_id}}">
            <div class="panel-heading {{class_completed}}">
                {{#if hasPurchased}}<span class="glyphicon glyphicon-ok"></span>{{/if}}
                <span class="panel-title"> {{title}} </span>
                <span class="panel-title-price">(Ca pris {{price}} kr)</span>
            </div>
        </a>

        <div id="collapse-{{_id}}" class="panel-collapse collapse {{class_show}} ">
            <div class="panel-body">

                {{#if completed}}
                {{#unless hasPurchased}}
                <div class="alert alert-warning" role="alert">Denne er allerede kjøpt av noen andre.</div>
                {{else}}
                <div class="alert alert-info">Du har indikert at du har kjøpt denne</div>
                {{/unless}}
                {{/if}}

                <img class="product-img" src="{{firstImage}}" alt/>

                <div class="action-info">

                    <div class="info-box">

                        <ul>
                            <li><a href="{{url}}">Lenke til produktside</a></li>
                            <li>Prissjikt: {{price}} kr</li>
                            <li class="items-wanted">
                                <span>Antall ønsket totalt</span>
                                <span>{{amount_wanted}}</span>
                                <span class="total">(totalt {{totalBought}} kjøpt)</span>
                            </li>
                        </ul>

                        <p>
                            {{description}}
                        </p>

                    </div>


                    <div class="action-panel">
                        {{#if isMulti}}
                        <div class="items-bought">
                            <span class="text">Jeg har kjøpt</span>
                            <input class="count form-control" {{disabled}} {{attributes}}
                            type="number" step="1" min="0" max="20"/>
                        </div>

                        {{#unless userBuyCount}}
                        <button type="button" class="confirm btn btn-success">Bekreft</button>
                        {{else}}
                        <button type="button" class="btn btn-danger regret">
                            <span class="glyphicon glyphicon-trash"></span>
                            Angre kjøp
                        </button>
                        {{/unless}}

                        {{else}} {{!-- else multi --}}

                        {{#unless userBuyCount}}

                        {{#unless completed}}
                        <button type="button" class="confirm btn btn-success">Merk som kjøpt</button>
                        {{/unless}}

                        {{else}}

                        <button type="button" class="btn btn-danger regret">
                            <span class="glyphicon glyphicon-trash"></span>
                            Angre kjøp
                        </button>
                        {{/unless }}

                        {{/if}} {{!-- end multi--}}

                    </div>

                    {{#if alertMessage}}
                    {{> alert}}
                    {{/if}}
                </div>
            </div>
        </div>
    </li>

</template>

<template name="alert">
    <div class="alert alert-{{alertLevel}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span
                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{alertMessage}}
    </div>
</template>

